#otvet {
	display: none;
}

body{
	background-image: url(https://phonoteka.org/uploads/posts/2022-01/thumbs/1642747822_60-phonoteka-org-p-belii-fon-dlya-saita-60.jpg);
	text-align: center;
	color: rgb(0, 0, 0);
	font-family: 'Times New Roman', Times, serif;
}

p{
	font-size: 40px;
	margin: 20px auto;
}

pre{
	margin: 20px auto;
	width: 1500px;
	padding: 25px;
	background: #00000052;
	border: 1px solid black;
	font-size: 30px;
	color: black;
}

input[type="number"]{
	width: 100px;
	height: 80px;
	text-align: center;
	font-size: 35px;

}
input[type="button"]{
	background: #000000;
	border: none;
	padding: 10px 35px;
	font-size: 50px;
	color: #fff;
	border-radius: 15px;
	cursor: pointer;
}
input[type="button"]:hover{
	opacity: 10px;
}

.ft{
	padding: 10px;
	color: rgb(0, 0, 0);
}
h1{
	font-size: 50px;
	font-family:'Times New Roman', Times, serif;
}
.sup{
	font-size: 70px;
}